html
  head
    title 我愛台灣，我支持中華隊
    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name='viewport', content='width=device-width, target-densitydpi=device-dpi, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(name='author', content='JustinLiu')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', type='text/css', href='./style/index.css')
    script(type='text/javascript', src='./script/jquery.js')
    script(type='text/javascript', src='./script/index.js')

  body
    #title QNAP Harlem Shake
    #gogo
    #box-list
      .box.main
      .box.box1
      .box.box2
      .box.box3
      .box.box4
      .box.box5
      .box.box6
      .box.box7
      .box.box8
    a#play(alt="PLAY!")
    #load LOADING...
    #tw
    #head